<%- include('header') %>

<body>
    <h1>Reinsdyrdatabase</h1>
    <a href="/kart"><h2>Kart og søk</h2></a>
    <a href="/about"><h2>About</h2></a>
    <a href="/"><h2>Søk i registeret</h2></a>
    <h1>Dette er en database hehehe</h1>
    
</body>
</html>
