<%- include('header') %>

<body>
    <h1 class="overskrift">Reinsdyrdatabase</h1>

    <a href="/kart"><h2>Kart og søk</h2></a>
    <a href="/about"><h2>About</h2></a>

    <h3>Søk i registeret</h3>
    
        <input type="text" name="q" placeholder="Search by name">
        <button type="submit">Search</button>
      
      
</body>
</html>
